<form
  class="form-horizontal"
  autocomplete="off"
  #createRoleForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewRole' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <p-tabView>
      <p-tabPanel [header]="'Details' | localize">
        <div class="form-group row required mt-3">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              pInputText
              type="text"
              name="name"
              id="name"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="role.name"
              #nameModel="ngModel"
              #nameEl
              class="w-100"
            />
            <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="displayName">
            {{ "DisplayName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              pInputText
              type="text"
              name="displayName"
              id="displayName"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="role.displayName"
              #displayNameModel="ngModel"
              #displayNameEl
              class="w-100"
            />
            <abp-validation-summary
              [control]="displayNameModel"
              [controlEl]="displayNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="description">
            {{ "RoleDescription" | localize }}
          </label>
          <div class="col-md-9">
            <textarea
              pInputTextarea
              name="description"
              id="description"
              [(ngModel)]="role.description"
              class="w-100"
              [rows]="3"
            ></textarea>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel [header]="'Permissions' | localize">
        <div class="mt-3">
          <p-tree
            [value]="permissionNodes"
            selectionMode="checkbox"
            [(selection)]="selectedPermissions"
            [propagateSelectionUp]="true"
            [propagateSelectionDown]="true"
            [style]="{'width': '100%'}"
          ></p-tree>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createRoleForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
