<p-dialog [(visible)]="visible" [style]="{width: '650px', 'max-height': '90vh'}" [header]="'CreateNewRole' | localize"
  [modal]="true" (onHide)="hide()">
  <ng-template pTemplate="content">
    <form autocomplete="off" #createRoleModal="ngForm" id="createRoleForm" class="p-fluid">
      <p-tabView>
        <p-tabPanel [header]="'Details' | localize">
          <!-- Role Name -->
          <div class="field mt-3">
            <label for="name" class="font-medium text-900">{{ "Name" | localize }} <span
                class="text-red-500">*</span></label>
            <input pInputText type="text" name="name" id="name" required minlength="2" maxlength="32"
              [(ngModel)]="role.name" #nameModel="ngModel" #nameEl class="w-full"
              [ngClass]="{'ng-invalid ng-dirty': nameModel.invalid && (nameModel.dirty || nameModel.touched)}" />
            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
          </div>

          <!-- Display Name -->
          <div class="field">
            <label for="displayName" class="font-medium text-900">{{ "DisplayName" | localize }} <span
                class="text-red-500">*</span></label>
            <input pInputText type="text" name="displayName" id="displayName" required minlength="2" maxlength="32"
              [(ngModel)]="role.displayName" #displayNameModel="ngModel" #displayNameEl class="w-full"
              [ngClass]="{'ng-invalid ng-dirty': displayNameModel.invalid && (displayNameModel.dirty || displayNameModel.touched)}" />
            <abp-validation-summary [control]="displayNameModel" [controlEl]="displayNameEl"></abp-validation-summary>
          </div>

          <!-- Description -->
          <div class="field">
            <label for="description" class="font-medium text-900">{{ "RoleDescription" | localize }}</label>
            <textarea pInputTextarea name="description" id="description" [(ngModel)]="role.description" class="w-full"
              [rows]="3"></textarea>
          </div>
        </p-tabPanel>
        <p-tabPanel [header]="'Permissions' | localize">
          <div class="mt-3">
            <p-tree [value]="permissionNodes" selectionMode="checkbox" [(selection)]="selectedPermissions"
              [propagateSelectionUp]="true" [propagateSelectionDown]="true"></p-tree>
          </div>
        </p-tabPanel>
      </p-tabView>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple [label]="'Cancel' | localize" icon="pi pi-times" class="p-button-text p-button-secondary"
      (click)="hide()" [disabled]="saving"></button>
    <button pButton pRipple [label]="'Save' | localize" icon="pi pi-check" (click)="save()"
      [disabled]="createRoleModal && !createRoleModal.valid || saving" [loading]="saving"></button>
  </ng-template>
</p-dialog>