<p-dialog [(visible)]="visible" [style]="{width: '650px', 'max-height': '90vh'}" [header]="'CreateNewUser' | localize" [modal]="true">
  <ng-template pTemplate="content">
    <form autocomplete="off" #createUserModal="ngForm" id="createUserForm" class="p-fluid">
      <p-tabView>
        <p-tabPanel [header]="'UserDetails' | localize">

          <!-- Name + Surname - 2 cột -->
          <div class="formgrid grid mt-3">
            <div class="field col-12 md:col-6">
              <label for="name" class="font-medium text-900">{{ "Name" | localize }} <span class="text-red-500">*</span></label>
              <input
                pInputText
                type="text"
                name="name"
                id="name"
                required
                maxlength="32"
                [(ngModel)]="user.name"
                #nameModel="ngModel"
                #nameEl
                [ngClass]="{'ng-invalid ng-dirty': nameModel.invalid && (nameModel.dirty || nameModel.touched)}"
              />
              <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>

            <div class="field col-12 md:col-6">
              <label for="surname" class="font-medium text-900">{{ "Surname" | localize }} <span class="text-red-500">*</span></label>
              <input
                pInputText
                type="text"
                name="surname"
                id="surname"
                required
                maxlength="32"
                [(ngModel)]="user.surname"
                #surnameModel="ngModel"
                #surnameEl
                [ngClass]="{'ng-invalid ng-dirty': surnameModel.invalid && (surnameModel.dirty || surnameModel.touched)}"
              />
              <abp-validation-summary [control]="surnameModel" [controlEl]="surnameEl"></abp-validation-summary>
            </div>
          </div>

          <!-- UserName -->
          <div class="field">
            <label for="userName" class="font-medium text-900">{{ "UserName" | localize }} <span class="text-red-500">*</span></label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-user"></i>
              <input
                pInputText
                type="text"
                name="userName"
                id="userName"
                required
                minlength="2"
                maxlength="32"
                [(ngModel)]="user.userName"
                #userNameModel="ngModel"
                #userNameEl
                class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': userNameModel.invalid && (userNameModel.dirty || userNameModel.touched)}"
              />
            </span>
            <abp-validation-summary [control]="userNameModel" [controlEl]="userNameEl"></abp-validation-summary>
          </div>

          <!-- Email -->
          <div class="field">
            <label for="emailAddress" class="font-medium text-900">{{ "EmailAddress" | localize }} <span class="text-red-500">*</span></label>
            <span class="p-input-icon-left w-full">
              <i class="pi pi-envelope"></i>
              <input
                pInputText
                type="email"
                name="emailAddress"
                id="emailAddress"
                required
                maxlength="256"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
                [(ngModel)]="user.emailAddress"
                #emailAddressModel="ngModel"
                #emailAddressEl
                class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': emailAddressModel.invalid && (emailAddressModel.dirty || emailAddressModel.touched)}"
              />
            </span>
            <abp-validation-summary [control]="emailAddressModel" [controlEl]="emailAddressEl"></abp-validation-summary>
          </div>

          <p-divider></p-divider>

          <!-- Password + Confirm Password - 2 cột -->
          <div class="formgrid grid">
            <div class="field col-12 md:col-6">
              <label for="password" class="font-medium text-900">{{ "Password" | localize }} <span class="text-red-500">*</span></label>
              <input
                pPassword
                name="password"
                id="password"
                required
                maxlength="32"
                validateEqual="confirmPassword"
                reverse="true"
                pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!\s)[0-9a-zA-Z!@#$%^&*()]*$"
                [(ngModel)]="user.password"
                #passwordModel="ngModel"
                #passwordEl
                class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)}"
              />
              <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl" [customValidationErrors]="passwordValidationErrors"></abp-validation-summary>
            </div>

            <div class="field col-12 md:col-6">
              <label for="confirmPassword" class="font-medium text-900">{{ "ConfirmPassword" | localize }} <span class="text-red-500">*</span></label>
              <input
                pPassword
                name="confirmPassword"
                id="confirmPassword"
                required
                maxlength="32"
                validateEqual="password"
                reverse="false"
                ngModel
                #confirmPasswordModel="ngModel"
                #confirmPasswordEl
                class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': confirmPasswordModel.invalid && (confirmPasswordModel.dirty || confirmPasswordModel.touched)}"
              />
              <abp-validation-summary [control]="confirmPasswordModel" [controlEl]="confirmPasswordEl" [customValidationErrors]="confirmPasswordValidationErrors"></abp-validation-summary>
            </div>
          </div>

          <!-- IsActive -->
          <div class="field-checkbox mt-2">
            <p-checkbox
              name="isActive"
              [(ngModel)]="user.isActive"
              [binary]="true"
              inputId="isActive"
            ></p-checkbox>
            <label for="isActive">{{ "IsActive" | localize }}</label>
          </div>
        </p-tabPanel>

        <p-tabPanel [header]="'UserRoles' | localize">
          <div class="grid mt-3">
            @for (role of roles; track role; let i = $index) {
              <div class="col-12 md:col-6 field-checkbox">
                <p-checkbox
                  [binary]="true"
                  [ngModel]="isRoleChecked(role.normalizedName)"
                  (onChange)="onRoleChange(role, $event)"
                  [name]="'role_' + i"
                  [inputId]="'role_' + i"
                ></p-checkbox>
                <label [for]="'role_' + i">{{ role.name }}</label>
              </div>
            }
          </div>
        </p-tabPanel>
      </p-tabView>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple [label]="'Cancel' | localize" icon="pi pi-times" class="p-button-text" (click)="hide()" [disabled]="saving"></button>
    <button pButton pRipple [label]="'Save' | localize" icon="pi pi-check" (click)="save()" [disabled]="!createUserModal?.form?.valid || saving" [loading]="saving"></button>
  </ng-template>
</p-dialog>
