<p-dialog [(visible)]="visible" [style]="{width: '500px', 'max-height': '90vh'}" [header]="'ChangeTenant' | localize" [modal]="true" (onHide)="hide()">
  <ng-template pTemplate="content">
    <form autocomplete="off" #changeTenantModal="ngForm" id="changeTenantForm" class="p-fluid">
      <div class="field mt-3">
        <label for="tenancyName" class="font-medium text-900">{{ "TenancyName" | localize }}</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-building"></i></span>
          <input
            pInputText
            type="text"
            id="tenancyName"
            name="tenancyName"
            [(ngModel)]="tenancyName"
            maxlength="64"
            [placeholder]="'TenancyName' | localize"
          />
        </div>
      </div>
      <div class="mt-3 text-500">
        <i class="pi pi-info-circle mr-2 align-middle"></i>
        <span class="align-middle">{{ "LeaveEmptyToSwitchToHost" | localize }}</span>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple [label]="'Cancel' | localize" icon="pi pi-times" class="p-button-text p-button-secondary" (click)="hide()" [disabled]="saving"></button>
    <button pButton pRipple [label]="'Save' | localize" icon="pi pi-check" (click)="save()" [disabled]="changeTenantModal && !changeTenantModal.valid || saving" [loading]="saving"></button>
  </ng-template>
</p-dialog>
