<p-dialog [(visible)]="visible" [style]="{width: '600px', 'max-height': '90vh'}" [header]="'EditTenant' | localize" [modal]="true" (onHide)="hide()">
  <ng-template pTemplate="content">
    <form autocomplete="off" #editTenantModal="ngForm" id="editTenantForm" class="p-fluid">

      <!-- Tenancy Name -->
      <div class="field mt-3">
        <label for="tenancyName" class="font-medium text-900">{{ "TenancyName" | localize }} <span class="text-red-500">*</span></label>
        <input
          pInputText
          type="text"
          name="tenancyName"
          id="tenancyName"
          minlength="2"
          maxlength="64"
          required
          [(ngModel)]="tenant.tenancyName"
          #tenancyNameModel="ngModel"
          #tenancyNameEl
          class="w-full"
          [ngClass]="{'ng-invalid ng-dirty': tenancyNameModel.invalid && (tenancyNameModel.dirty || tenancyNameModel.touched)}"
        />
        <abp-validation-summary [control]="tenancyNameModel" [controlEl]="tenancyNameEl"></abp-validation-summary>
      </div>

      <!-- Name -->
      <div class="field">
        <label for="name" class="font-medium text-900">{{ "Name" | localize }} <span class="text-red-500">*</span></label>
        <input
          pInputText
          type="text"
          name="name"
          id="name"
          maxlength="128"
          required
          [(ngModel)]="tenant.name"
          #nameModel="ngModel"
          #nameEl
          class="w-full"
          [ngClass]="{'ng-invalid ng-dirty': nameModel.invalid && (nameModel.dirty || nameModel.touched)}"
        />
        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
      </div>

      <!-- Is Active -->
      <div class="field-checkbox mt-2">
        <p-checkbox
          name="isActive"
          [(ngModel)]="tenant.isActive"
          [binary]="true"
          inputId="isActive"
        ></p-checkbox>
        <label for="isActive">{{ "IsActive" | localize }}</label>
      </div>

    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple [label]="'Cancel' | localize" icon="pi pi-times" class="p-button-text p-button-secondary" (click)="hide()" [disabled]="saving"></button>
    <button pButton pRipple [label]="'Save' | localize" icon="pi pi-check" (click)="save()" [disabled]="editTenantModal && !editTenantModal.valid || saving" [loading]="saving"></button>
  </ng-template>
</p-dialog>
