<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-info alert-dismissible">
            <h6><i class="icon fa fa-info"></i> This is a sample Dashboard which doesn't show any server side data.
              However, you can develop your own dashboard inspired by this one and its source code.</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>8.2k+</h3>
              <p>Stargazers</p>
            </div>
            <div class="icon">
              <i class="fas fa-star"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/stargazers"
              class="small-box-footer"
              target="_blank">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>140+</h3>
              <p>Contributors</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/graphs/contributors"
              class="small-box-footer"
              target="_blank">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>1.6k+</h3>
              <p>Used / Dependents</p>
            </div>
            <div class="icon">
              <i class="fas fa-tools"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/dependents"
              class="small-box-footer"
              target="_blank">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>3.1k+</h3>
              <p>Forks</p>
            </div>
            <div class="icon">
              <i class="fas fa-code"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
              class="small-box-footer"
              target="_blank">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1">
              <i class="fas fa-plus-circle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Commits</span>
              <span class="info-box-number">
                6,350+
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Issues</span>
              <span class="info-box-number">
                170+
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1">
              <i class="fas fa-tag"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Releases</span>
              <span class="info-box-number">
                200+
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1">
              <i class="fas fa-eye"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Watching by</span>
              <span class="info-box-number">
                810+
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Open Issues</h3>
            </div>
            <div class="card-body p-0">
              <p-table [value]="[
                { id: 5452, url: 'https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5452', title: 'Angular UI migration to AdminLTE 3', labels: [{name: 'module-zero-core-template', severity: 'secondary'}, {name: 'feature', severity: 'info'}], date: '11 days ago', openedBy: 'iyilm4z' },
                { id: 5391, url: 'https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5391', title: 'AbpCacheBase should lock the same object for sync and async', labels: [{name: 'bug', severity: 'danger'}, {name: 'pull request candidate', severity: 'success'}], date: '26 days ago', openedBy: 'acjh' },
                { id: 5390, url: 'https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5390', title: 'AbpCache sliding/absolute expire time', labels: [{name: 'breaking-change', severity: 'warning'}, {name: 'enhancement', severity: 'info'}], date: '27 days ago', openedBy: 'ryancyq' }
              ]" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Id</th>
                    <th class="w-25">Title</th>
                    <th class="w-25">Labels</th>
                    <th>Date</th>
                    <th>Opened by</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-issue>
                  <tr>
                    <td>
                      <a [href]="issue.url" target="_blank">{{ issue.id }}</a>
                    </td>
                    <td>{{ issue.title }}</td>
                    <td>
                      @for (label of issue.labels; track label.name) {
                        <p-tag [value]="label.name" [severity]="label.severity" class="mr-1"></p-tag>
                      }
                    </td>
                    <td>{{ issue.date }}</td>
                    <td>{{ issue.openedBy }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Closed Pull Requests</h3>
            </div>
            <div class="card-body p-0">
              <p-table [value]="[
                { id: 5430, url: 'https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5430', title: 'Added Dynamic-Parameter-System doc to documentation menu', milestone: 'v5.6', date: '18 days ago', madeBy: 'maliming' },
                { id: 5362, url: 'https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5362', title: 'Dynamic Parameter Module', milestone: 'v5.4', date: '25 days ago', madeBy: 'demirmusa' },
                { id: 4924, url: 'https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4924', title: 'ASP.NET Core 3.0 Upgrade', milestone: 'v5.0', date: 'Oct 15', madeBy: 'ismcagdas' }
              ]" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Id</th>
                    <th class="w-25">Title</th>
                    <th class="w-25">Milestone</th>
                    <th>Date</th>
                    <th>Made by</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pr>
                  <tr>
                    <td>
                      <a [href]="pr.url" target="_blank">{{ pr.id }}</a>
                    </td>
                    <td>{{ pr.title }}</td>
                    <td>{{ pr.milestone }}</td>
                    <td>{{ pr.date }}</td>
                    <td>{{ pr.madeBy }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>