<p-dialog [(visible)]="visible" [style]="{width: '500px'}" [header]="'ResetPassword' | localize" [modal]="true">
  <ng-template pTemplate="content">
    <form autocomplete="off" #resetPasswordModal="ngForm" id="resetPasswordForm" class="p-fluid">
      <div class="field mt-3">
        <p class="text-info mb-1">{{ "ResetPasswordStepOneInfo" | localize }}</p>
      </div>

      <div class="field">
        <label for="adminPassword" class="font-medium text-900">{{ "AdminPassword" | localize }} <span class="text-red-500">*</span></label>
        <input
          pPassword
          name="adminPassword"
          id="adminPassword"
          required
          [(ngModel)]="resetPasswordDto.adminPassword"
          #adminPasswordModel="ngModel"
          #adminPasswordEl
          class="w-full"
          [ngClass]="{'ng-invalid ng-dirty': adminPasswordModel.invalid && (adminPasswordModel.dirty || adminPasswordModel.touched)}"
        />
        <abp-validation-summary [control]="adminPasswordModel" [controlEl]="adminPasswordEl"></abp-validation-summary>
      </div>

      <div class="field mt-4">
        <p class="text-info mb-1">{{ "ResetPasswordStepTwoInfo" | localize }}</p>
      </div>

      <div class="field">
        <label for="newPassword" class="font-medium text-900">{{ "NewPassword" | localize }}</label>
        <input
          pInputText
          type="text"
          name="NewPassword"
          id="newPassword"
          readonly
          [ngModel]="resetPasswordDto.newPassword"
        />
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="{{ 'Cancel' | localize }}" icon="pi pi-times" class="p-button-text" (click)="hide()" [disabled]="isLoading"></button>
    <button pButton pRipple label="{{ 'Save' | localize }}" icon="pi pi-check" (click)="resetPassword()" [disabled]="!resetPasswordModal?.form?.valid || isLoading"></button>
  </ng-template>
</p-dialog>
